/* styles.css */
.divclass{
  height: 1000vh;
  width: 1000vw;
  background-color:black;
}

h1 {
    color:antiquewhite;
  }
  
  h2 {
    color:antiquewhite;
  }
  
  h3 {
    color:antiquewhite;
  }
  
  h4 {
    color:antiquewhite;
  }
  
  h5 {
    color:antiquewhite;
  }
  
  h6 {
    color:antiquewhite;
  }
